$sandy: #e6ded4; // nice light sand brown color

body {
    background-color: $sandy;
    max-width: 1024px;
    padding-top: 4em;
    margin-left: auto;
    margin-right: auto;
    font-size: 115%;
}

// :nth-child(5)

section.meetup {
    margin-top: 6rem;
    padding: 2ch;

    display: grid;
    gap: 3ch;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'a main main'
        'c main main';

    background: unset !important;

    header {
        grid-area: a;
        div {
            margin-top: 1em;
        }
    }

    .date-location {
        text-align: left;
    }

    img {
        grid-area: c;
        place-self: end;
        margin: 0;
    }

    article {
        grid-area: main;
        align-self: end;
    }
}

.placequestionmark {
    //margin-right: 8ch;
    position: relative;
    top: -2rem;
    left: -1rem;
}

section.logo {
    display: none;
}

section.viennageo {
    display: grid;
    gap: 4ch;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'head head head'
        'themen contact _';
}

h1 {
    grid-area: head;
}

.viennageo-1 {
    grid-area: themen;
}
.viennageo-2 {
    grid-area: contact;
    align-self: end;
}

.themen {
    font-weight: bold;
    margin: 0.5em 0ch;
    line-height: 1.5;
}
