@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v13/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmYmRjRdE.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v13/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISma2RjRdE.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v13/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmY2RjRdE.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v13/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmbGRjRdE.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v13/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmYGRjRdE.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v13/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmYWRjRdE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v13/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmb2Rj.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

$red: rgb(187, 0, 0);
$sandy: #e6ded4; // nice light sand brown color

body {
    font-family: 'Roboto Slab', serif;
    font-size: 105%;
    margin: 0 0 4em 0;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
}
ul,
li,
p {
    line-height: 1.5;
    margin-top: 1rem;
}

h1 {
    font-size: 250%;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: bold;
    color: #ba0000;
    color: #222;
}

.themen {
    margin: 0.5em 4ch;
}

.fa-envelope {
    width: 25px;
}

h2 {
    letter-spacing: 1px;
}

section.logo {
    div {
        text-align: center;
        img {
            max-width: 350px;
            object-fit: contain;
        }
    }
}

.twitter,
.mail {
    text-align: right;
}

.mail {
    margin-top: 1em;
    span {
        padding: 9px;
        position: relative;
        top: -6px;
    }
}

.twitter-btn {
    font: normal normal normal 13px/26px 'Helvetica Neue', Arial, sans-serif;
    height: 28px;
    border-radius: 4px;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
    background-color: #e9f6ff;
    border: #ccc solid 1px;
    color: #333;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.twitter-btn i {
    width: 21px;
    height: 16px;
    left: 4px;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0)
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAoCAYAAABq13MpAAAGcklEQVRYw+2YXUyTVxjHz4vJLiZGd7MtXi2LkZtdELM7lyzOG7Nk2RJvl8iujBiNV2JcMA0fwqCFEGCAfJRC+SyltqWFgnwUlIKAWB3yOVrAttQWC1ZCOi6ePc8LL74tVD6ly2KTf87J6Tnv+3uf8zzP+WAAwEhMIj8h1MViEs0Jlqi+we5oJFjGCX3D9X+fmKTmq/f/rzkRlX5fzkmNPhLVqW2DQ1Ify9eFAZ8kafUsURMX+qCo1BYry3oILKcfmLQb2N3Wzqhk48xn6YbLuwJO1cQeydAvURkWONtk5UoGgKsaXRPWo3LarVHSJvkRmXHm+6pHV3h4YdDp0gE7D5XUJPo6QyzLfwKscgZY1UtgChuwkjH4tOhpQPp4Nn430GeU/TcJ4sif5iV2V/NL6P/H81oTOIUVuPsO4AyeNVG9ehw4xTP4oubZ268VFiP2jd4Y9Hufw8TKJoAgufT2RZZikJ8s7JMzxTQw1QKwhtdrZY0Likd9Azjm1G6gpcOz8VzdFHC1E8AV9gKXYdCI3eWc9q96Tj0DnHEBuObXa6J60yvgtC740Tw3jf0Sgtzj89JhK6tyAKt2Ag9f+AxY8SgPyQMLUs5hd/hut/5MH3mp3z3H6eeBa7ADV/4UuNxO4DINw1GyZklMw/MhTut8BywCj2mb9wvAQdBN0z5ldJ1zlbemygusdn5NVBeA8b/Tart/D8CMyVrjjteNeo81v1rljF7gdC7gVNPAKUeAdwuaAb17MzS6yTdGmzPoWWJLXLG8Go9We1aDLCtWnRskA27zXqCfuP0Xj9ZNBHgwwQWE6acP4Nu9m6FxZn7tmbWEg2Zpg670U1rXUpB1xVbWOsjKF/YCTQHU5X5rjmn3+IP8djthMJaNe+6EhUbFmub8jefaPZ5NbtHk8TuX/1HsEZiXetJz5rc+11BMxw7Bsc+3bS99oUH/bgGRYCL/o93Hp7gKO7B6zzqwF342L7jWgaP3A03jzxrGTJzm5dausIVrlP/tU22KD+FhFJ1djjfma4/mbdf6vbZrgz6bbOTN6IvFgGU9cvcLLOjqi6WA5bp10RbTuRDe4vhR1594bTT74aA3ghEVJxL575cHBLuhC3rr+bPN06ajOkdgS4tj26UB79w6A9sO+oMpKk0j5zKbOrksk48reLiW6mjFE0Oj1U+2elbK7P7nNCNh0+dhQZOLSa0u3U8dttmTOvsKv5DQUo2gx0wLqz88eu2RTbwZxX412y1ehwnN1mES1sE6RdKjkneaTg8b+kD0Efoj9P8WWiKRbHnmo/bExMQbWEqwjBPawvU/VOjk5GQ9gmxagdLS0qzZ2dmQm5sLWVlZkJ6e3pmamjqD5eWIQ8vlcjtBpaSkyAUrIlxsQUEBKJVKqK6uhsrKSigrK4Pi4uLA48eP4yMO3dfXZyovLweCzMjIWCT4e/fuySsqKkCtVkNjYyNf1tXVwdjY2K7PiB8EurS01FpTUwO1tbVA8AgM2MZDErAgsvgez4gHD22325UqlWqVrEmqr6/nJVhZsDSW/v288NatW++9sFkPcjm6po9EdcFdqbx9+3Zs0LbUYrGMazSaVbFlxcKPgqGhIfNegfGlsRjwS1SGA6bAz8/P52eZRHV0Vyu5KyUA9IIrQYMGBwfT9Xr9kti6YivrdLr9nBEZBvHNvLw8ykIEvunCRiaTJRQVFQG5aUNDAy+qU/CTuyLwWyyNm86IDoejsaOjwxPqFkaj0b+8vLyvMyIaJV6hUPAxk5OTA2g5DcJvuAvOZD1lqtB30wxTbLW1tfEXNhvTkpSUJM/MzPQJKY6+UhjU3d3tWgfe75HrVE9PzxzFCr2jsLAQpFIppdlh/ABJVVXVECWCrWYZPcAfesPEnxHRyube3l4b5mAbWsU2ir/FxcUDOyOiv8ahpb0UN0L6pJRaUlIC5BY0A2TVUGgyII5xRuSM6Ha7LyJkgMDEuV+YfnG7WDQzDx48sERqwxTtdDrNFB9bwYUTBSNO+p2I7fImJyfPoF8PNTc37wic+hgMhqALm0isaNEIY6KVdSfQ5BoTExOq/8J++ioFOAV7S0tLWItTOyWF0AubiO0fMOjO42JlwgAMhFvMMJNteWFzqKC0j8Cc3Il7cR/t0SnVUZCFLiaYk1empqbCXtgctoUTcO+iQ5eYRUuv0EJCOZhAtVrtaldXl2dkZGTbC5tIuMa+L2z+BexZXK+OBaruAAAAAElFTkSuQmCC)
        0 0 no-repeat;
    background-position: -24px 0;
}

.twitter-btn .label {
    padding: 0 7px 0 29px;
    white-space: nowrap;
}

.next {
    color: $red;
    font-weight: bold;
}

summary {
    // meetup topic
    padding-top: 0.25em;
    font-style: italic;
}

.date-location {
    text-align: right;
    margin-bottom: 0.5rem;
}

time {
    color: $red;
}

address {
    display: inline;
    font-style: normal;
    text-align: right;
}

section {
    padding: 1rem 8px;
}
section:nth-child(2n) {
    background: #e6ded4;
}

ul {
    // we use lists as semantic tags not for their list-styled layout
    list-style: none;
    padding: 0;
}
li::first-line {
    font-weight: bold;
}

img {
    margin: 0.5rem 0;
    object-fit: contain;
}

a {
    color: #5b0069;
}

.placequestionmark {
    position: relative; // stacking context for ?
    text-align: center;
    svg {
        max-width: 200px;
        opacity: 0.8;
    }
    div {
        // extern
        position: absolute;
        top: -70px;
        left: 0;
        bottom: 0;
        right: 0;
        // intern
        display: grid;
        place-content: center;
        // look
        font-family: times;
        font-size: 250px;
        font-weight: bold;
        color: white;
    }
}

img + p {
    margin-top: 0; // yes, this is good to center the meetup-image vertically
}

section.head {
    display: grid;
    grid-template-areas: 'a' 'b' 'c' 'd';

    div.logo {
        grid-area: a;
        background: $sandy;
        margin: -1rem -8px 0.5rem -8px;
    }
    h1 {
        grid-area: b;
    }
    .head-1 {
        grid-area: c;
    }
    .head-2 {
        grid-area: d;
    }
    img {
        object-fit: contain;
        width: 100%;
    }
}

/////////////////////////// desktop ////////////////////////////////////////////

@media all and (min-width: 780px) {
    body {
        background-color: white;
        max-width: 1024px;
        //padding-top: 4em;
        margin-left: auto;
        margin-right: auto;
        font-size: 115%;
        margin-bottom: 0; // goes into main-padding here
    }

    main {
        background: $sandy;
        padding: 0 2ch;
        padding-bottom: 4em;
    }

    .head {
        img.logo {
            display: unset;
            width: unset;
        }
    }

    section.meetup {
        margin-top: 6rem;
        padding: 2ch;

        display: grid;
        gap: 3ch;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            'a main main'
            'c main main';

        background: unset !important;

        header {
            grid-area: a;
            div {
                margin-top: 1em;
            }
        }

        .date-location {
            text-align: left;
        }

        img {
            grid-area: c;
            place-self: end;
            margin: 0;
        }

        article {
            grid-area: main;
            align-self: end;
        }
    }

    section.head {
        padding: 2ch;
    }

    .placequestionmark {
        position: relative;
        top: -2rem;
        left: -1rem;
    }

    section.logo {
        display: none;
    }

    section.head {
        display: grid;
        gap: 3ch;
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-areas:
            'head head head'
            'logo themen contact';

        h1 {
            grid-area: head;
            font-size: 300%;
        }

        .head-1 {
            grid-area: themen;
        }
        .head-2 {
            grid-area: contact;
        }

        .themen {
            font-weight: bold;
            margin: 0.5em 0ch;
            line-height: 1.5;
        }

        div.logo {
            // clear frm mobile
            background: unset;
            margin: unset;
            margin-bottom: unset;

            grid-area: logo;
            object-fit: contain;
            padding: 2ch;
            img {
                width: 100%;
                height: unset;
            }
        }
    }
}
