body {
  font-family: 'Roboto Slab';
  font-size: 105%;
  max-width: 1024px;
  margin: auto;
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  padding: 0;
}

ul,
li,
p {
  line-height: 1.5;
  margin-top: 0.5em;
}

h1 {
  font-size: 170%;
}

h2 {
  margin-top: 2rem;
}

div.logo {
  text-align: center;
}

.desktop {
  display: none;
}

p.aboutlink {
  text-align: right;
  margin-top: 1rem;
}

.next {
  color: #bb0000;
  font-weight: bold;
}

.tag {
  display: block;
  line-height: 1.5;
  padding: 0 8px;
}

h2 {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

summary {
  padding-top: 0.25em;
  font-style: italic;
}

.date-location {
  text-align: right;
}

time {
  color: #bb0000;
}

address {
  display: inline;
  font-style: normal;
  text-align: right;
}

section {
  padding: 1rem 8px;
}

section:nth-child(1) {
  background: #e6ded4;
}

ul {
  list-style: none;
  padding: 0;
}

li::first-line {
  font-weight: bold;
}

.edelsbrunner {
  display: none;
}

img {
  width: 100%;
  margin: 1rem 0;
}

a {
  color: navy;
}

.placequestionmark {
  position: relative;
  text-align: center;
}

.placequestionmark svg {
  max-width: 200px;
}

.placequestionmark div {
  position: absolute;
  top: -70px;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 200px;
  font-weight: bold;
  display: grid;
  color: white;
  place-content: center;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoic3Rkb3V0Iiwic291cmNlcyI6WyJzdHlsZXMuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFFQSxBQUFBLElBQUksQ0FBQztFQUNELFdBQVcsRUFBRSxhQUFhO0VBRTFCLFNBQVMsRUFBRSxJQUFJO0VBQ2YsU0FBUyxFQUFFLE1BQU07RUFDakIsTUFBTSxFQUFFLElBQUk7RUFDWixjQUFjLEVBQUUsS0FBSztDQUV4Qjs7QUFFRCxBQUFBLEVBQUU7QUFDRixFQUFFO0FBQ0YsRUFBRTtBQUNGLEVBQUU7QUFDRixFQUFFO0FBQ0YsQ0FBQztBQUNELEVBQUU7QUFDRixFQUFFLENBQUM7RUFDQyxNQUFNLEVBQUUsQ0FBQztFQUNULE9BQU8sRUFBRSxDQUFDO0VBQ1YsV0FBVyxFQUFFLENBQUM7RUFDZCxPQUFPLEVBQUUsQ0FBQztDQUNiOztBQUNELEFBQUEsRUFBRTtBQUNGLEVBQUU7QUFDRixDQUFDLENBQUM7RUFDRSxXQUFXLEVBQUUsR0FBRztFQUNoQixVQUFVLEVBQUUsS0FBSztDQUNwQjs7QUFFRCxBQUFBLEVBQUUsQ0FBQztFQUdDLFNBQVMsRUFBRSxJQUFJO0NBR2xCOztBQUVELEFBQUEsRUFBRSxDQUFDO0VBQ0MsVUFBVSxFQUFFLElBQUk7Q0FDbkI7O0FBRUQsQUFBQSxHQUFHLEFBQUEsS0FBSyxDQUFDO0VBR0wsVUFBVSxFQUFFLE1BQU07Q0FDckI7O0FBRUQsQUFBQSxRQUFRLENBQUM7RUFDTCxPQUFPLEVBQUUsSUFBSTtDQUNoQjs7QUFFRCxBQUFBLENBQUMsQUFBQSxVQUFVLENBQUM7RUFDUixVQUFVLEVBQUUsS0FBSztFQUNqQixVQUFVLEVBQUUsSUFBSTtDQUNuQjs7QUFFRCxBQUFBLEtBQUssQ0FBQztFQUNGLEtBQUssRUE1REgsT0FBYztFQTZEaEIsV0FBVyxFQUFFLElBQUk7Q0FDcEI7O0FBRUQsQUFBQSxJQUFJLENBQUM7RUFDRCxPQUFPLEVBQUUsS0FBSztFQUNkLFdBQVcsRUFBRSxHQUFHO0VBQ2hCLE9BQU8sRUFBRSxLQUFLO0NBQ2pCOztBQUVELEFBQUEsRUFBRSxDQUFDO0VBQ0MsT0FBTyxFQUFFLElBQUk7RUFDYixXQUFXLEVBQUUsUUFBUTtFQUNyQixlQUFlLEVBQUUsYUFBYTtDQUNqQzs7QUFDRCxBQUFBLE9BQU8sQ0FBQztFQUNKLFdBQVcsRUFBRSxNQUFNO0VBQ25CLFVBQVUsRUFBRSxNQUFNO0NBQ3JCOztBQUNELEFBQUEsY0FBYyxDQUFDO0VBQ1gsVUFBVSxFQUFFLEtBQUs7Q0FDcEI7O0FBQ0QsQUFBQSxJQUFJLENBQUM7RUFDRCxLQUFLLEVBbkZILE9BQWM7Q0FxRm5COztBQUNELEFBQUEsT0FBTyxDQUFDO0VBQ0osT0FBTyxFQUFFLE1BQU07RUFDZixVQUFVLEVBQUUsTUFBTTtFQUNsQixVQUFVLEVBQUUsS0FBSztDQUtwQjs7QUFFRCxBQUFBLE9BQU8sQ0FBQztFQUNKLE9BQU8sRUFBRSxRQUFRO0NBQ3BCOztBQUVELEFBQUEsT0FBTyxDQUFDLFNBQVUsQ0FBQSxDQUFDLEVBQUU7RUFDakIsVUFBVSxFQUFFLE9BQU87Q0FDdEI7O0FBVUQsQUFBQSxFQUFFLENBQUM7RUFDQyxVQUFVLEVBQUUsSUFBSTtFQUNoQixPQUFPLEVBQUUsQ0FBQztDQUNiOztBQUNELEFBQUEsRUFBRSxFQUFFLFVBQVUsQ0FBQztFQUNYLFdBQVcsRUFBRSxJQUFJO0NBQ3BCOztBQUVELEFBQUEsYUFBYSxDQUFDO0VBQ1YsT0FBTyxFQUFFLElBQUk7Q0FDaEI7O0FBQ0QsQUFBQSxHQUFHLENBQUM7RUFDQSxLQUFLLEVBQUUsSUFBSTtFQUNYLE1BQU0sRUFBRSxNQUFNO0NBQ2pCOztBQUNELEFBQUEsQ0FBQyxDQUFDO0VBQ0UsS0FBSyxFQUFFLElBQUk7Q0FDZDs7QUFVRCxBQUFBLGtCQUFrQixDQUFDO0VBQ2YsUUFBUSxFQUFFLFFBQVE7RUFDbEIsVUFBVSxFQUFFLE1BQU07Q0FnQnJCOztBQWxCRCxBQUdJLGtCQUhjLENBR2QsR0FBRyxDQUFDO0VBQ0EsU0FBUyxFQUFFLEtBQUs7Q0FDbkI7O0FBTEwsQUFNSSxrQkFOYyxDQU1kLEdBQUcsQ0FBQztFQUNBLFFBQVEsRUFBRSxRQUFRO0VBQ2xCLEdBQUcsRUFBRSxLQUFLO0VBQ1YsSUFBSSxFQUFFLENBQUM7RUFDUCxNQUFNLEVBQUUsQ0FBQztFQUNULEtBQUssRUFBRSxDQUFDO0VBQ1IsU0FBUyxFQUFFLEtBQUs7RUFDaEIsV0FBVyxFQUFFLElBQUk7RUFDakIsT0FBTyxFQUFFLElBQUk7RUFDYixLQUFLLEVBQUUsS0FBSztFQUNaLGFBQWEsRUFBRSxNQUFNO0NBQ3hCIn0=  */