$red: rgb(187, 0, 0);

body {
    font-family: 'Roboto Slab';

    font-size: 105%;
    max-width: 1024px;
    margin: auto;
    letter-spacing: 0.5px;
    //padding: 1ch;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    padding: 0;
}
ul,
li,
p {
    line-height: 1.5;
    margin-top: 0.5em;
}

h1 {
    //margin-top: 1.5rem;
    //margin-bottom: 0.5rem;
    font-size: 170%;
    //background: lightseagreen;
    //  text-align: center;
}

h2 {
    margin-top: 2rem;
}

div.logo {
    //padding-top: 1.5rem;
    //padding-bottom: 1rem;
    text-align: center;
}

.desktop {
    display: none; // for now assume mobile
}

p.aboutlink {
    text-align: right;
    margin-top: 1rem;
}

.next {
    color: $red;
    font-weight: bold;
}

.tag {
    display: block;
    line-height: 1.5;
    padding: 0 8px;
}

h2 {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
summary {
    padding-top: 0.25em;
    font-style: italic;
}
.date-location {
    text-align: right;
}
time {
    color: $red;
    //font-size: small;
}
address {
    display: inline;
    font-style: normal;
    text-align: right;
    // background: #555;
    // color: #fff;
    // border-radius: 3px;
    // padding: 0 2px;
}

section {
    padding: 1rem 8px;
}

section:nth-child(1) {
    background: lightseagreen;
}

section:nth-child(2) {
    //background: lightsalmon;
}

section:nth-child(3) {
    background: #e6ded4;
}

ul {
    list-style: none;
    padding: 0;
}
li::first-line {
    font-weight: bold;
}

.edelsbrunner {
    display: none;
}
img {
    width: 100%;
    margin: 1rem 0;
}
a {
    color: navy;
}

// bold header block - might help the eye navigating, but looks a bit hard
// h2 {
//     background: #333;
//     color: white;
//     padding: 4px;
//     border-radius: 4px;
// }
