$red: rgb(187, 0, 0);

// nice light sand brown color
//     background: #e6ded4;

body {
    font-family: 'Roboto Slab';

    font-size: 105%;
    max-width: 1024px;
    margin: auto;
    //letter-spacing: 0.5px;
    word-break: break-word; // superlong links should not create horizontal scrollbar
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    padding: 0;
}
ul,
li,
p {
    line-height: 1.5;
    margin-top: 0.5em;
}

h1 {
    //margin-top: 1.5rem;
    //margin-bottom: 0.5rem;
    font-size: 170%;
    //background: lightseagreen;
    //  text-align: center;
}

h2 {
    margin-top: 2rem;
}

div.logo {
    //padding-top: 1.5rem;
    //padding-bottom: 1rem;
    text-align: center;
}

.desktop {
    display: none; // for now assume mobile
}

p.aboutlink {
    text-align: right;
    margin-top: 1rem;
}

.next {
    color: $red;
    font-weight: bold;
}

.tag {
    display: block;
    line-height: 1.5;
    padding: 0 8px;
}

h2 {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
summary {
    padding-top: 0.25em;
    font-style: italic;
}
.date-location {
    text-align: right;
}
time {
    color: $red;
    //font-size: small;
}
address {
    display: inline;
    font-style: normal;
    text-align: right;
    // background: #555;
    // color: #fff;
    // border-radius: 3px;
    // padding: 0 2px;
}

section {
    padding: 1rem 8px;
}

ul {
    list-style: none;
    padding: 0;
}
li::first-line {
    font-weight: bold;
}

.edelsbrunner {
    display: none;
}
img {
    width: 100%;
    margin: 1rem 0;
}
a {
    color: navy;
}

.placequestionmark {
    margin: 2rem 0 1rem 0;
    position: relative; // stacking context
    text-align: center;
    svg {
        max-width: 200px;
    }
    div {
        position: absolute;
        top: -70px;
        left: 0;
        bottom: 0;
        right: 0;
        font-size: 200px;
        font-weight: bold;
        display: grid;
        color: white;
        place-content: center;
    }
}

.twitter,
.mail {
    text-align: right;
}

.fa-envelope{
  width: 24px;
}

.mail a{
  span{
    padding: 9px;
    position: relative;
    top: -6px;
  }
}




.twitter-btn {
  font: normal normal normal 13px/26px 'Helvetica Neue',Arial,sans-serif;
	height: 28px;
	border-radius: 4px;
	max-width: 100%;
	box-sizing: border-box;
	position: relative;
	background-color: #F8F8F8;

	// background-image: -webkit-gradient(linear,left top,left bottom,from(#FFF),to(#DEDEDE));
	// background-image: -moz-linear-gradient(top,#FFF,#DEDEDE);
	// background-image: -o-linear-gradient(top,#FFF,#DEDEDE);
	// background-image: -ms-linear-gradient(top,#FFF,#DEDEDE);
	// background-image: linear-gradient(top,#FFF,#DEDEDE);
	border: #CCC solid 1px;
	color: #333;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	text-decoration: none;
}

.twitter-btn:hover {
	text-decoration: none;
}

.twitter-btn i {
	width: 21px;
	height: 16px;
	left: 4px;
	margin-top: -6px;
	position: absolute;
	top: 50%;
	background: rgba(0, 0, 0, 0) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAoCAYAAABq13MpAAAGcklEQVRYw+2YXUyTVxjHz4vJLiZGd7MtXi2LkZtdELM7lyzOG7Nk2RJvl8iujBiNV2JcMA0fwqCFEGCAfJRC+SyltqWFgnwUlIKAWB3yOVrAttQWC1ZCOi6ePc8LL74tVD6ly2KTf87J6Tnv+3uf8zzP+WAAwEhMIj8h1MViEs0Jlqi+we5oJFjGCX3D9X+fmKTmq/f/rzkRlX5fzkmNPhLVqW2DQ1Ify9eFAZ8kafUsURMX+qCo1BYry3oILKcfmLQb2N3Wzqhk48xn6YbLuwJO1cQeydAvURkWONtk5UoGgKsaXRPWo3LarVHSJvkRmXHm+6pHV3h4YdDp0gE7D5XUJPo6QyzLfwKscgZY1UtgChuwkjH4tOhpQPp4Nn430GeU/TcJ4sif5iV2V/NL6P/H81oTOIUVuPsO4AyeNVG9ehw4xTP4oubZ268VFiP2jd4Y9Hufw8TKJoAgufT2RZZikJ8s7JMzxTQw1QKwhtdrZY0Likd9Azjm1G6gpcOz8VzdFHC1E8AV9gKXYdCI3eWc9q96Tj0DnHEBuObXa6J60yvgtC740Tw3jf0Sgtzj89JhK6tyAKt2Ag9f+AxY8SgPyQMLUs5hd/hut/5MH3mp3z3H6eeBa7ADV/4UuNxO4DINw1GyZklMw/MhTut8BywCj2mb9wvAQdBN0z5ldJ1zlbemygusdn5NVBeA8b/Tart/D8CMyVrjjteNeo81v1rljF7gdC7gVNPAKUeAdwuaAb17MzS6yTdGmzPoWWJLXLG8Go9We1aDLCtWnRskA27zXqCfuP0Xj9ZNBHgwwQWE6acP4Nu9m6FxZn7tmbWEg2Zpg670U1rXUpB1xVbWOsjKF/YCTQHU5X5rjmn3+IP8djthMJaNe+6EhUbFmub8jefaPZ5NbtHk8TuX/1HsEZiXetJz5rc+11BMxw7Bsc+3bS99oUH/bgGRYCL/o93Hp7gKO7B6zzqwF342L7jWgaP3A03jzxrGTJzm5dausIVrlP/tU22KD+FhFJ1djjfma4/mbdf6vbZrgz6bbOTN6IvFgGU9cvcLLOjqi6WA5bp10RbTuRDe4vhR1594bTT74aA3ghEVJxL575cHBLuhC3rr+bPN06ajOkdgS4tj26UB79w6A9sO+oMpKk0j5zKbOrksk48reLiW6mjFE0Oj1U+2elbK7P7nNCNh0+dhQZOLSa0u3U8dttmTOvsKv5DQUo2gx0wLqz88eu2RTbwZxX412y1ehwnN1mES1sE6RdKjkneaTg8b+kD0Efoj9P8WWiKRbHnmo/bExMQbWEqwjBPawvU/VOjk5GQ9gmxagdLS0qzZ2dmQm5sLWVlZkJ6e3pmamjqD5eWIQ8vlcjtBpaSkyAUrIlxsQUEBKJVKqK6uhsrKSigrK4Pi4uLA48eP4yMO3dfXZyovLweCzMjIWCT4e/fuySsqKkCtVkNjYyNf1tXVwdjY2K7PiB8EurS01FpTUwO1tbVA8AgM2MZDErAgsvgez4gHD22325UqlWqVrEmqr6/nJVhZsDSW/v288NatW++9sFkPcjm6po9EdcFdqbx9+3Zs0LbUYrGMazSaVbFlxcKPgqGhIfNegfGlsRjwS1SGA6bAz8/P52eZRHV0Vyu5KyUA9IIrQYMGBwfT9Xr9kti6YivrdLr9nBEZBvHNvLw8ykIEvunCRiaTJRQVFQG5aUNDAy+qU/CTuyLwWyyNm86IDoejsaOjwxPqFkaj0b+8vLyvMyIaJV6hUPAxk5OTA2g5DcJvuAvOZD1lqtB30wxTbLW1tfEXNhvTkpSUJM/MzPQJKY6+UhjU3d3tWgfe75HrVE9PzxzFCr2jsLAQpFIppdlh/ABJVVXVECWCrWYZPcAfesPEnxHRyube3l4b5mAbWsU2ir/FxcUDOyOiv8ahpb0UN0L6pJRaUlIC5BY0A2TVUGgyII5xRuSM6Ha7LyJkgMDEuV+YfnG7WDQzDx48sERqwxTtdDrNFB9bwYUTBSNO+p2I7fImJyfPoF8PNTc37wic+hgMhqALm0isaNEIY6KVdSfQ5BoTExOq/8J++ioFOAV7S0tLWItTOyWF0AubiO0fMOjO42JlwgAMhFvMMJNteWFzqKC0j8Cc3Il7cR/t0SnVUZCFLiaYk1empqbCXtgctoUTcO+iQ5eYRUuv0EJCOZhAtVrtaldXl2dkZGTbC5tIuMa+L2z+BexZXK+OBaruAAAAAElFTkSuQmCC) 0 0 no-repeat;
	background-position: -24px 0;
}

.twitter-btn .label {
	padding: 0 7px 0 29px;
	white-space: nowrap;
}


